div.header {
    font-family: Verdana, Arial;
    margin: auto;
    text-align: center;
    display: flex;
    max-width: 80%;
    vertical-align: middle;
}

h1 {
    font-family: Verdana, Arial;
    font-size: 34px;
    text-align: center;
}

p {
    font-family: Verdana, Arial;
    font-size: 14px
}

#avatar {
    width: 150px;
    margin: auto;
    position: relative;
    display: inline;
    float: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}


/* Create 3 equal columns that sits next to each other */

.column {
    margin: auto;
    flex: 25%;
    max-width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.modal {
    max-width: 960px;
    min-width: 960px;
    width: 960px;
}

.modal img {
    width: 600px;
}


/* Responsive layout - makes a 2 column-layout instead of 3 columns */

@media screen and (max-width: 800px) {
    .column {
        flex: 33%;
        max-width: 33%;
    }
}


/* Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}